td.collapsing.grey.center.aligned #{seq}
  //- a(href='/tests/'+testId) 
td.collapsing.center.aligned
  if isError
    i.large.red.icon.close
  else if hasNew
    i.large.orange.icon.file.outline
  else
    i.large.green.icon.checkmark
td #{title}
